html {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body {
    background-color: rgb(90, 141, 99);
}

#welcome {
    color: white;

}

.map {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: row;
    grid-auto-flow: column;
    max-width: 100%;
    max-height: 100%;

}


.square {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0.541);
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    line-height: 1;
}

#r {
    background-color: red;
}

#b {
    background-color: blue;
}

#g {
    background-color: #23ed12;
}

#y {
    background-color: yellow;
}